* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: helvetica, sans-serif;
  color: black;
  background-color: lightgrey;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: black;
  cursor: cell;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: lightgrey;

}

#title {
  float: left;
  font-size: 260%;
  margin-left: 30px;
  margin-top: 10px;
}

#menu {
  font-size: 120%;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
}

#menu, title {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu .active {
  text-decoration: none;
  padding: 15px;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgrey;
}

#menu .active:hover {
  background-color: white;
  cursor: cell;
}

#top-img {
  background-image: url("/assets/images/pexels-lachlan-ross-5967859.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  background-color: lightblue;
}

#sandwich_animation {
  height: 550px;
  width: 98.9%;
  background-color: lightgrey;
  border-top: 0.5rem solid grey;
  border-left: 0.5rem solid black;
  border-right: 0.5rem solid black;
  border-bottom: 0.5rem solid grey;
}

#sandwich-layers img{
    position: absolute;   
    left: 30%;
}

.s-image-1 {
    position: relative;
    animation-name: movement;
    animation-duration: 8s;
    animation-iteration-count: 30;
}

.s-image-2 {
  position: relative;
  animation-name: movement2;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-3 {
  position: relative;
  animation-name: movement3;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-4 {
  position: relative;
  animation-name: movement4;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-5 {
  position: relative;
  animation-name: movement5;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

@keyframes movement {
  0%   {top:650px;}
  50%  {top:850px;}
  100% {top:650px;}
}

@keyframes movement2 {
  0%   {top:680px;}
  50%  {top:855px;}
  100% {top:680px;}
}

@keyframes movement3 {
  0%   {top:710px;}
  50%  {top:855px;}
  100% {top:710px;}
}
@keyframes movement4 {
  0%   {top:740px;}
  50%  {top:855px;}
  100% {top:740px;}
}
@keyframes movement5 {
  0%   {top:770px;}
  50%  {top:855px;}
  100% {top:770px;}
}

#middle-img {
  background-image: url("/assets/images/pexels-alex-green-5692289.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-color: lightblue;
}

#origins {
  height: 500px;
  width: 98.9%;
  border-top: 0.5rem solid lightpink;
  border-left: 0.5rem solid palevioletred;
  border-right: 0.5rem solid palevioletred;
  border-bottom: 0.5rem solid lightpink;
  background-color: pink;
}

#second-middle-img {
  background-image: url("/assets/images/charles-deluvio-VYfc_iLqe7U-unsplash.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-color: lightblue;
}

#manifesto {
  height: 500px;
  width: 98.9%;
  border-top: 0.5rem solid lightpink;
  border-left: 0.5rem solid palevioletred;
  border-right: 0.5rem solid palevioletred;
  border-bottom: 0.5rem solid lightpink;
  background-color: purple;
}

.dropdown {
  position: relative;
  text-align-last: right;
  padding-right: 29px;
  direction: rtl;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 300px;
  overflow: auto z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  position: relative;
  cursor: cell;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown-content li a {
  text-decoration: none;
  color: green;
  cursor: cell;
  padding: 0 20px;
}

.dropdown-content li:hover {
  background-color: grey;
}

