@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

body {
  font-family: helvetica, sans-serif;
  color: black;
  background-color: lightgrey;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: black;
  cursor: cell;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ca9570bb;

}

#title {
  float: left;
  font-size: 260%;
  margin-left: 30px;
  margin-top: 10px;
}

#menu {
  font-size: 120%;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
  z-index: 3;
}

#menu,
title {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu .active {
  text-decoration: none;
  padding: 15px;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ca9570bb;
}

#menu .active:hover {
  background-color: #dfa57cab;
  border-radius: 30px;
  cursor: cell;
  opacity: .5;
}

.dropdown {
  position: relative;
  text-align-last: right;
  padding-right: 29px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 300px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  position: relative;
  cursor: cell;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown-content li a {
  text-decoration: none;
  color: #573f2fee;
  cursor: cell;
  padding: 0 20px;
}

.dropdown-content li:hover {
  background-color: #dfa57cab;
  border-radius: 30px;
  opacity: .5;
}

#top-img {
  background-image: url("/assets/images/pexels-lachlan-ross-5967859.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-color: lightblue;
}

.invis-title {
  position: absolute;
  left: 8%;
  top: 8%;
  font-size: 5rem;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ca9570bb;
  display: none;
}

.right-arrow {
  position: absolute;
  right: 5%;
  bottom: 2.5%;
  font-size: 7rem;
  opacity: 0;
  color: #9b7356da;
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: 5;
}

.left-arrow {
  position: absolute;
  left: 5%;
  bottom: 2.5%;
  font-size: 7rem;
  opacity: 0;
  color: #9b7356da;
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: 6;
}

@keyframes arrow {
  0% {
    opacity: .01;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .01;
  }
}


#sandwich_animation {
  height: 550px;
  width: 100%;
  background-color: lightgrey;
}

#sandwich-layers img {
  position: absolute;
  left: 30%;
}

.s-image-1 {
  position: relative;
  animation-name: movement;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-2 {
  position: relative;
  animation-name: movement2;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-3 {
  position: relative;
  animation-name: movement3;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-4 {
  position: relative;
  animation-name: movement4;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

.s-image-5 {
  position: relative;
  animation-name: movement5;
  animation-duration: 8s;
  animation-iteration-count: 30;
}

@keyframes movement {
  0% {
    top: 730px;
  }

  50% {
    top: 930px;
  }

  100% {
    top: 730px;
  }
}

@keyframes movement2 {
  0% {
    top: 760px;
  }

  50% {
    top: 935px;
  }

  100% {
    top: 760px;
  }
}

@keyframes movement3 {
  0% {
    top: 790px;
  }

  50% {
    top: 935px;
  }

  100% {
    top: 790px;
  }
}

@keyframes movement4 {
  0% {
    top: 820px;
  }

  50% {
    top: 935px;
  }

  100% {
    top: 820px;
  }
}

@keyframes movement5 {
  0% {
    top: 850px;
  }

  50% {
    top: 935px;
  }

  100% {
    top: 850px;
  }
}

#middle-img {
  background-image: url("/assets/images/pexels-alex-green-5692289.webp");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-color: lightgrey;
}

#origins {
  height: 500px;
  width: 100%;
  position: absolute;
  background-color: lightgrey;
}

.origins-content {
  position: relative;
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4.5em;
}

.origins-history {
  position: relative;
  width: 58%;
  height: 400px;
  left: 40%;
  bottom: 68%;
}


#second-middle-img {
  background-image: url("/assets/images/charles-deluvio-VYfc_iLqe7U-unsplash.webp");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1150px;
  width: 100%;
  background-color: lightgrey;
}

#manifesto {
  height: 700px;
  width: 100%;
  position: absolute;
  background-color: lightgrey;
}

.manifesto-content {
  position: relative;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 2.5%;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 3rem;
}

.manifesto-content-2 {
  position: relative;
  text-align: center;
  padding: 28%;
  padding-top: 2.5%;
  font-family: "Dela Gothic One", sans-serif;
}

/* HTML for footer borrowed and changed from the love running project */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  text-align: center;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 0 5%;
  color: #9b7356da;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9b7356da;
}

.social-networks i:hover {
  -webkit-text-fill-color: #9b7356da;
  -webkit-text-stroke-color: black;
}

.social-networks a {
  cursor: none;
}

.brown-paper {
  background-image: url("/assets/images/pexels-arina-krasnikova-7002683.webp");
  background-size: cover;
}

.invis-title-map {
  position: absolute;
  left: 1%;
  top: 1%;
  font-family: Helvetica, sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9b7356da;
  font-size: 2rem;
  display: none;
}

#map-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.75, 0.75);
  text-align: center;
  color: white;
}

/* Map code borrowed from https://matemarschalko.medium.com/interactive-image-maps-and-closable-popups-with-html-and-css-only-31fe36c70092 */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  padding: 20px;
  background-color: rgba(196, 140, 94, 0.9);
  color: black;
  font-weight: 100;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms, transform 300ms;
}

.popup>.close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #9b7356da;
  padding: 4px 10px;
}

.popup:target {
  opacity: 1;
  transform: scale(1);
}

/* Form css borrowed and mdified from the love running project*/

.signup-form {

  color: #fff;
  background-color: rgba(156, 113, 78, 0.5);
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
}

.signup-form>h2 {
  color: #fafafa;
  margin-bottom: 20px;
  text-align: center;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

#comments {
  height: 50px;
}

.text-input:hover {
  border-color: #f16c6b;
}

.submit-button {
  margin-top: 20px;
  margin-left: 40%;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  font-size: 100%;
  background-color: #da6060;
  color: #fafafa;
  display: block;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #fafafa;
  color: #da6060;
}

#gallery-images {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  position: absolute;
  padding: 10%;
  transform: scale(0.9, 0.9)
}

#gallery-images > img {
  width: 100%;
  height: 100%;
}

#gallery-images > img:hover {
  transform: scale(1.3, 1.3);
}

@media screen and (max-width: 1200px) {


  #sandwich-layers img {
    left: 23%;
  }

  .origins-content {
    display: none;
  }

  .origins-history {
    left: 60px;
    top: 30px;
    width: 88%;
  }
  .signup-form {
    transform: translate(-50%, -50%) scale(1.05, 1);
  }
  #gallery-images {
    column-count: 3;
    padding: 8%;
  }
}

@media screen and (max-width: 950px) {
  #title {
    display: none;
  }

  .invis-title {
    display: revert;
  }

  .invis-title-map {
    display: revert;
  }

  #sandwich-layers img {
    left: 18%;
  }

  #middle-img,
  #second-middle-img {
    background-position: top;
  }

  .origins-history {
    width: 83%;
  }

  #map-container {
    transform: translate(-50%, -50%) scale(0.65, 0.65);
  }

  .signup-form {
    transform: translate(-50%, -50%) scale(1.1, 1);
  }

  #gallery-images {
    column-count: 2;
    padding-top: 20%;
  }

  footer {
    height: 7%;
  }
}

@media screen and (max-width: 690px) {
  .invis-title {
    left: 5%;
    top: 12%;
    font-size: 3rem;
  }

  .invis-title-map {
    display: revert;
    font-size: 1.5rem;
  }

  #menu li {
    margin-right: 0px;
  }

  #sandwich-layers img {
    left: 7.5%;
    width: 85%;
  }

  .origins-history {
    width: 75%;
  }

  .manifesto-content {
    font-size: 2rem;
  }

  #map-container {
    transform: translate(-50%, -50%) scale(0.65, 0.65);
  }

  .signup-form {
    transform: translate(-50%, -50%) scale(1.3, 0.9);
  }

  #gallery-images {
    column-count: 1;
    padding: 0;
    line-height: 100px;
  }

  #gallery-images > img:hover {
    transform: scale(1, 1);
  }

  footer {
    height: 6%;
  }
}
